
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.logo{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 50%;
    transform: -50% -50%;

}
header{
    position: sticky;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    top: 0px;
    margin: auto;
    background-color: rgba(36, 56, 44, 0.884);
}
.register{
    position: absolute;
    right: 20px;
    top: 18px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color:beige;
    margin: 5px;
}
.register1{
    position: absolute;
    left: 20px;
    top: 18px;
}
.hero{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.elephant{
    width: 100%;
    box-shadow: 10px 10px 10px grey;
}
h1{
    margin-top: 20px;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
    color: teal;
    border-bottom: 5px double grey;
    margin-bottom: 20px;
}
p{
    font-family:  "Rubik", sans-serif;
    width: 80%;
    padding: 2px;
    margin: auto;
}
.info{
    margin: auto;
    
    text-align: center;
    color: teal;
    font-size: 20px;
    width: 50%;
    margin-top: 10px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px grey;
}
#pls{
    color: tomato;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid tomato;
   
}
input{
    margin-bottom: 10px;
}
#rights{
  
    width: 15%;
    background-color: rgba(15, 99, 99, 0.267);
    bottom: 0px;
    text-align: center;

}

